body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #454344;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}
#link-form{
    position: relative;
    margin: 0 auto;
}
h1{
    color: white;
    text-align: center;
}
input, button {
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: #e61c87;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #910d54;
}

#cancel-button {
    background-color: #dc3545;
}

#cancel-button:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid white;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

td button {
    margin-right: 5px;
}
a{
    text-decoration: underline;
    color:white;
}
